*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    background-color: #f5eaf5;
    height: 100%;
}

.sidebar{
    width: 30%;
    height: 100%;
    background-color: #8b008b;
}

.form-container-login{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 1100px;
}

.form-container-login{
    display: flex;
}

.logo-login{
    width: 60%;
    font-size: 19px;
    padding: 5px;
}

.form-login{
    width: 60%;
    background-color: #ffffff;
    padding: 30px;
    max-width: 500px;
}

.form-login input[type= text],
.form-login input[type= password]{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    box-shadow: 0px 3px 1px #b171b1;
    border: 1px solid #f5eaf5;
    margin: 10px 0;
}

.form-login input[type= submit]{
    width: 100%;
    height: 40px;
    color: white;
    cursor: pointer;
    background: #8b008b 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 1px #b171b1;
    border-radius: 10px;
}

.form-login a{
    border: 2px solid #8b008b;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}